{
    "$schema": "https://swc.rs/schema.json",
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": true,
            "dynamicImport": true,
            "decorators": true,
            "decoratorsBeforeExport": true
        }
    },
    "minify": false
}